

<ion-content >

  <ion-item>
    <ion-label> Modal Popup</ion-label>
    <ion-button (click)="CloseModal()" size="small" slot="end">
      close
    </ion-button>
  </ion-item>

  <ion-list lines="none">
    <form [formGroup]="slideOneForm">
      <ion-item>
        <ion-label position="floating">Entrer un nom</ion-label>
        <ion-input [(ngModel)]="myName"type="text"></ion-input>
    </ion-item>
        <ion-item>
            <ion-label position="floating">Entrer une recette</ion-label>
            <ion-input  [(ngModel)]="myRecipe" type="text"></ion-input>
        </ion-item>
      <ion-item>
            <ion-label position="floating">Entrer un ingredient</ion-label>
            <ion-input [(ngModel)]="myIngredientName" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Entrer une quantité</ion-label>
            <ion-input  [(ngModel)]="myIngredientQuantity" type="number"></ion-input>
        </ion-item>
        
      <ion-item>
        <ion-label position="floating">Entrer un nutriscore</ion-label>
        <ion-input  [(ngModel)]="myNutriscore" type="text"></ion-input>
    </ion-item>
    <ion-item> 
    <ion-button href="/tab1" slot="end" shape="round" (click)="addRecipeToFirebase()"> 
      <ion-icon name="add" slot="icon-only"> 

      </ion-icon>
    </ion-button>
  </ion-item>
  
    </form>
</ion-list>
<!--
  <ion-card  >
    <ion-item lines="none">
    <ion-input [(ngModel)]="myRecipe" placeholder="Entrer une recette"> </ion-input>
    <ion-input [(ngModel)]="myIngredientName" placeholder="Entrer un ingredient"> </ion-input>
    <ion-input [(ngModel)]="myIngredientQuantity" placeholder="Entrer une quantité"> </ion-input>
    <ion-input [(ngModel)]="myName" placeholder="Entrer un nom"> </ion-input>
    <ion-input [(ngModel)]="myNutriscore" placeholder="Entrer un nutriscore"> </ion-input>
    <ion-button slot="end" shape="round" (click)="addRecipeToFirebase()"> 
      <ion-icon name="add" slot="icon-only"> 

      </ion-icon>
    </ion-button>
    
    </ion-item>
    
    </ion-card>
  -->

</ion-content>
