<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let recipe of recipes">
 <ion-item-sliding> 
    <ion-item  (click)="openRecipes(recipe)">
      <ion-label> 
        <h2>{{recipe.name}} </h2>
      
        <p style="color:red;">{{recipe.note}} </p>
        <p>{{recipe.detailRecipe}} </p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end"> 
      <ion-item-option color="danger" (click)="deleteRecipes(recipe)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon> 
    </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
    </ion-card>

  <!--<ion-card   *ngIf="addRecipe">
    <ion-item lines="none">
    <ion-input [(ngModel)]="myRecipe" placeholder="Entrer une recette"> </ion-input>
    <ion-input [(ngModel)]="myIngredientName" placeholder="Entrer un ingredient"> </ion-input>
    <ion-input [(ngModel)]="myIngredientQuantity" placeholder="Entrer une quantité"> </ion-input>
    <ion-input [(ngModel)]="myName" placeholder="Entrer un nom"> </ion-input>
    <ion-input [(ngModel)]="myNutriscore" placeholder="Entrer un nutriscore"> </ion-input>
    <ion-button slot="end" shape="round" (click)="addRecipeToFirebase()"> 
      <ion-icon name="add" slot="icon-only"> 

      </ion-icon>
    </ion-button>
    
    </ion-item>
    
    </ion-card>-->

 
<ion-button  (click)="OpenModal()" expand="block" class="add-button">
<ion-icon name="add" slot="start"> </ion-icon>
Ajouter une recette
</ion-button>

<!--<ion-button *ngIf="addRecipes" (click)="showForm()" expand="block" class="add-button">
  <ion-icon name="close" slot="start"> </ion-icon>
Annuler  
  </ion-button> -->




</ion-content>