<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-card class="welcome-card">
      <img src="/assets/scan.jpeg" alt="" />
      <ion-button expand='block' margin (click)="goToBarcodeScan()">Scanner un codebare ou un QRcode ici</ion-button>
    </ion-card>
</ion-content>
