<ion-header>
 
  <!-- <ion-title>{{ recipe.name }}</ion-title>-->

</ion-header>

<ion-content>

 <div class="recipe-detail" padding>
   <h1>{{myObjRecipe.name}}</h1>
   <h2>{{myObjRecipe.note}}</h2>
   <h4>{{myObjRecipe.ingredientName}}</h4>
   <h5>{{myObjRecipe.ingredientQuantity}}</h5>
   <h4>{{myObjRecipe.ingredientName2}}</h4>
   <h5>{{myObjRecipe.ingredientQuantity2}}</h5>
   <h4>{{myObjRecipe.ingredientName3}}</h4>
   <h5>{{myObjRecipe.ingredientQuantity3}}</h5>
   <h4>{{myObjRecipe.ingredientName4}}</h4>
   <h5>{{myObjRecipe.ingredientQuantity4}}</h5>
   <h4>{{myObjRecipe.ingredientName5}}</h4>
   <h5>{{myObjRecipe.ingredientQuantity5}}</h5>
   <p>{{myObjRecipe.recipeDetail}}</p>

 </div> 

</ion-content>
