<ion-header>
 
  <!-- <ion-title>{{ recipe.name }}</ion-title>-->

</ion-header>

<ion-content>


   <h1>{{myObjRecipe.name}}</h1>
   <div class="content">
   <img class="nutriscoreImage" *ngIf="myObjRecipe.note == 'A'" src="../../assets/images/nutriscore-a.png" alt="Nutriscore A"/>
        <img class="nutriscoreImage" *ngIf="myObjRecipe.note == 'B'" src="../../assets/images/nutriscore-b.png" alt="Nutriscore B"/>
        <img class="nutriscoreImage" *ngIf="myObjRecipe.note == 'C'" src="../../assets/images/nutriscore-c.png" alt="Nutriscore C"/>
        <img class="nutriscoreImage" *ngIf="myObjRecipe.note == 'D'" src="../../assets/images/nutriscore-d.png" alt="Nutriscore D"/>
        <img class="nutriscoreImage" *ngIf="myObjRecipe.note == 'E'" src="../../assets/images/nutriscore-e.png" alt="Nutriscore E"/>
   <h4>{{myObjRecipe.ingredientName}}</h4>
   <h5 >{{myObjRecipe.ingredientQuantity}} g</h5>
   <h4>{{myObjRecipe.ingredientName2}}</h4>
   <h5  *ngIf="myObjRecipe.ingredientQuantity2 != 0" >{{myObjRecipe.ingredientQuantity2}} g</h5>
   <h4>{{myObjRecipe.ingredientName3}}</h4>
   <h5  *ngIf="myObjRecipe.ingredientQuantity3 !=0">{{myObjRecipe.ingredientQuantity3}} g</h5>
   <h4>{{myObjRecipe.ingredientName4}}</h4>
   <h5  *ngIf="myObjRecipe.ingredientQuantity4 != 0">{{myObjRecipe.ingredientQuantity4}} g</h5>
   <h4>{{myObjRecipe.ingredientName5}}</h4>
   <h5  *ngIf="myObjRecipe.ingredientQuantity5 !=0" >{{myObjRecipe.ingredientQuantity5}} g</h5>
   <p>{{myObjRecipe.recipeDetail}}</p>

  </div>
</ion-content>
